body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header-logo {
    align-items: center;
}
.header-logo strong {
    font-size: 26px;
}
@media (max-width: 992px) {
    .header-logo strong {
        font-size: 16px;
    }
}
#home-slider {
    margin-top: 111px;
}

.lead {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}

/* Header Styles */
.bg-light {
    background-color: #f8f9fa !important;
    border-bottom: 1px solid #eee;
}


.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-toggler {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    position: fixed;
    top: 14px;
}

.navbar-nav .nav-link {
    color: #333;
    padding: 0.75rem 1rem;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #007bff;
}

/* Home Section */
#home {
    background: url('images/slider1.jpg') center center no-repeat; /* Mặc định ảnh slider 1 */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

#home h2 {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.card-body {
    height: 150px;
}
@media (max-width: 768px) {
    .card-body {
        height: auto;
    }
}
#home .lead {
    color: #eee;
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#home .btn-primary,
#home .btn-outline-light,
#home .btn-info {
    background-color: #007bff;
    border-color: #007bff;
}

#home .btn-primary:hover,
#home .btn-outline-light:hover,
#home .btn-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#home .btn-outline-light {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

#home .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.carousel-caption {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.carousel-caption h2 {
    color: #d4d09d;
}

/* About Section */
#about {
    padding: 80px 0;
}

#about h2 {
    margin-bottom: 30px;
}

/* Products Section */
#products {
    padding: 10px 0;
}

#products h2 {
    margin-bottom: 20px;
}
.card.shadow-sm {
    overflow: hidden;
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}
.card-img-top:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #fff;
}


/* Footer Styles */
.bg-dark {
    background-color: #343a40 !important;
}

footer {
    color: #fff;
    background-color: #343a40;
}
footer p {
    margin-bottom: 0;
}
#contact p {
    margin: 0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #home h2 {
        font-size: 2.5rem;
    }

    #home .lead {
        font-size: 1.2rem;
    }

    .carousel-caption {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .carousel-caption h2 {
        font-size: 2rem;
    }

    .carousel-caption p {
        font-size: 1.1rem;
    }
}
/* CSS modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
    .modal-content {
        width: 85%;
        height: 70%;
    }
    .close-button {
        top: 0;
        right: 0;
    }
}

/* close modal */
.close-button {
    position: absolute;
    top: 5px;
    right: 12px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
